<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-inline'"
    />
    <link href="../output.css" rel="stylesheet" />
    <title>Defunciones</title>
  </head>
  <body class="flex flex-col bg-gray-700 m-auto pt-4 min-h-screen">
    <header class="flex justify-center pt-4">
      <h1 class="text-blue-300 text-3xl">Registro de Defuncion</h1>
    </header>

    <main class="px-6 pt-10">
      <label for="numeroSocio" class="text-white">Número de Socio:</label>
      <input
        type="text"
        id="numeroSocio"
        name="numeroSocio"
        class="p-2 mb-4 border rounded-md"
        placeholder=""
      />
      <!-- boton -->
      <button
        type="button"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Buscar
      </button>

      <p class="text-white text-2xl font-bold text-center pb-5">
        Datos Generales
      </p>

      <label for="nombreSocio" class="text-white">Nombre de Socio:</label>
      <input
        type="text"
        id="nombreSocio"
        name="nombreSocio"
        class="p-2 mb-3 border rounded-md"
        placeholder=""
      />

      <label for="apellidoPaterno" class="text-white ps-3"
        >Apellido Paterno:</label
      >
      <input
        type="text"
        id="apellidoPaterno"
        name="apellidoPaterno"
        class="p-2 mb-3 border rounded-md"
        placeholder=""
      />

      <label for="apellidoMaterno" class="text-white ps-3"
        >Apellido Materno:</label
      >
      <input
        type="text"
        id="apellidoMaterno"
        name="apellidoMaterno"
        class="p-2 mb-2 border rounded-md"
        placeholder=""
      />

      <div class="mb-4"></div>

      <label for="tipo" class="text-white">Tipo:</label>
      <input
        type="text"
        id="tipo"
        name="tipo"
        class="p-2 mb-4 border rounded-md"
        placeholder=""
      />

      <label for="otraEdad" class="text-white ps-3">Edad:</label>
      <input
        type="text"
        id="otraEdad"
        name="otraEdad"
        class="p-2 mb-4 border rounded-md"
        placeholder=""
      />

      <label for="curp" class="text-white ps-3">CURP:</label>
      <input
        type="text"
        id="curp"
        name="curp"
        class="p-2 mb-4 border rounded-md"
        placeholder=""
      />

      <label for="correo" class="text-white ps-3">Correo:</label>
      <input
        type="text"
        id="correo"
        name="correo"
        class="p-2 mb-4 border rounded-md"
        placeholder=""
      />

      <div class="mb-4"></div>

      <label for="telefono" class="text-white">Teléfono:</label>
      <input
        type="text"
        id="telefono"
        name="telefono"
        class="p-2 mb-4 border rounded-md"
        placeholder=""
      />

      <label for="fechaIngreso" class="text-white ps-3"
        >Fecha de Ingreso:</label
      >
      <input
        type="text"
        id="fechaIngreso"
        name="fechaIngreso"
        class="p-2 mb-4 border rounded-md"
        placeholder=""
      />

      <label for="direccion" class="text-white ps-3">Dirección:</label>
      <input
        type="text"
        id="direccion"
        name="direccion"
        class="p-2 mb-4 border rounded-md"
        placeholder=""
      />

      <p class="text-white text-2xl font-bold pb-3 text-center">
        Datos de defunción
      </p>

      <label for="fechaDefuncion" class="text-white">Fecha de Defunción:</label>
      <input
        type="date"
        id="fechaDefuncion"
        name="fechaDefuncion"
        class="p-2 mb-4 border rounded-md"
      />

      <label for="beneficiario" class="text-white ps-3">Beneficiario:</label>
      <input
        type="text"
        id="beneficiario"
        name="beneficiario"
        class="p-2 mb-4 border rounded-md"
        placeholder=""
      />

      <label for="monto" class="text-white ps-3">Monto$:</label>
      <input
        type="text"
        id="monto"
        name="monto"
        class="p-2 mb-4 border rounded-md"
        placeholder=""
      />

      <div class="mb-4"></div>

      <button
        type="button"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
      >
        Ver Socios Fallecidos
      </button>

      <button
        type="button"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2"
      >
        Guardar
      </button>

      <button
        type="button"
        onclick="Salir()"
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2"
      >
        Cerrar
      </button>
    </main>
    <script>
      function Salir() {
        window.location.href = "./menu.html";
      }
    </script>
  </body>
</html>
