<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-inline'"
    />
    <link href="../output.css" rel="stylesheet" />
    <title>Menú principal</title>
  </head>
  <body class="flex flex-col bg-gray-700 m-auto pt-4 min-h-screen">
    <header class="flex justify-center pt-4">
      <nav class="text-white flex gap-4 flex-row">
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./partners.html"
        >
          Socios
        </a>
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./receipts.html"
        >
          Recibos
        </a>
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./deaths.html"
        >
          Defunciones
        </a>
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./tariffs.html"
        >
          Tarifas
        </a>
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./about.html"
        >
          Acerca de
        </a>
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./index.html"
        >
          Salir
        </a>
      </nav>
    </header>

    <script>
      setInterval(showTime, 1000);
      setInterval(showDate, 1000);

      function showTime(){
        let time = new Date();
        let hour = time.getHours();
        let min = time.getMinutes();
        let sec = time.getSeconds();
        let am_pm = "AM";

        if(hour >= 12){
          if(hour > 12) hour -= 12;
          am_pm = "PM";
        }else if(hour == 0){
          hour = 12;
          am_pm = "AM";
        }

        hour =
        hour < 10 ? "0" + hour : hour;
        min = min < 10 ? "0" + min : min;
        sec = sec < 10 ? "0" + sec : sec;
    
        let currentTime = hour + ":" + min + ":" + sec + am_pm;
    
        document.getElementById("systemTime").innerHTML = currentTime;
      }

      function showDate(){
        let date = new Date();
        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();
    
        day = day < 10 ? "0" + day : day;
        month = month < 10 ? "0" + month : month;
    
        let currentDate = day + "/" + month + "/" + year;
    
        document.getElementById("systemDate").innerHTML = currentDate;
      }
    </script>

    <main class="px-6 py-32">
      <div class="flex flex-row gap-28 justify-center items-center">
        <img src="../assets/tec.webp" alt="Tec image" class="aspect-auto w-1/2" />
        <div class="flex justify-center items-center flex-col">
          <span class="text-white text-lg font-bold pb-2 text-center">
            Hora del sistema
          </span>
          <span
            id="systemTime"
            class="text-white text-lg font-bold pb-5"
          ></span>
          <span class="text-white text-lg font-bold pb-2 text-center">
            Fecha del sistema
          </span>
          <span id="systemDate" class="text-white text-lg font-bold"></span>
        </div>
      </div>
    </main>
  </body>
</html>
