<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-inline'"
    />
    <link href="../output.css" rel="stylesheet">
    <title>Recibos</title>
  </head>
  <body class="flex flex-col bg-gray-700 m-auto pt-4 min-h-screen">
    <header class="flex justify-center pt-4">
      <nav class="text-white flex gap-4 flex-row">
        <a class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400" href="./partners.html">Socios</a>
        <a class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400" href="./receipts.html">Recibos</a>
        <a class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400" href="./deaths.html">Defunciones</a>
        <a class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400" href="./tariffs.html">Tarifas</a>
        <a class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400" href="./about.html">Acerca de</a>
        <a class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400" href="./index.html">Salir</a>
      </nav>
    </header>

    <main class="px-6 pt-10">
      
    </main>
  </body>
</html>
