<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />

    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-inline'"
    />
    <link href="../output.css" rel="stylesheet" />

    <title>Recibos</title>
  </head>
  <body class="flex flex-col bg-gray-700 m-auto pt-4 min-h-screen">
    <header class="flex justify-center pt-4">
      <nav class="text-white flex gap-4 flex-row">
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./partners.html"
          >Socios</a
        >
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./receipts.html"
          >Recibos</a
        >
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./deaths.html"
          >Defunciones</a
        >
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./tariffs.html"
          >Tarifas</a
        >
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./about.html"
          >Acerca de</a
        >
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./index.html"
          >Salir</a
        >
      </nav>
    </header>

    <br />
    <!-- Título del formulario -->
    <h1 class="text-center text-2xl font-semibold">
      Expedición de Recibos de Pago
    </h1>
    <br />

    <!-- Formulario -->
    <div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-md">
      <div class="mb-2 max-w-xs">
        <label for="buscar_socio" class="block text-sm">
          Buscar Socio por ID o Nombre:
        </label>
        <input
          type="text"
          id="buscar_socio"
          class="w-full px-2 py-1 leading-tight border rounded-lg shadow-sm focus:outline-none focus:shadow-outline-gray text-sm"
          placeholder="Buscar"
        />
      </div>

      <!-- Función para manejar la búsqueda -->
      <script>
        document
          .getElementById("buscar_socio")
          .addEventListener("input", async function () {
            let termino = this.value.trim();

            const result = await window.electron.getPartner(termino);
            console.log(result[0].name);

            if (result) {
              document.getElementById("nombre_socio_mostrar").textContent =
                result[0].name;
              document.getElementById("numero_socio_mostrar").textContent =
                result[0].partner_id;
            }
          });
      </script>
      <br />

      <!-- Mostrar datos generales y adeudo -->

      <!-- Sección de datos generales y adeudo del socio -->
      <div class="mb-4">
        <h2 class="text-lg font-semibold mb-2">
          Datos Generales y Adeudo del Socio
        </h2>
        <!-- Aquí puedes mostrar los datos generales y el adeudo del socio obtenidos de la base de datos -->

        <div class="mb-2">
          <label for="nombre_socio_mostrar" class="block">Nombre:</label>
          <p id="nombre_socio_mostrar"></p>
        </div>
        <div class="mb-2">
          <label for="numero_socio_mostrar" class="block">
            Número de Socio:
          </label>
          <p id="numero_socio_mostrar"></p>
        </div>
        <div class="mb-2">
          <label for="adeudo_casa_club" class="block">Adeudo Casa Club:</label>
          <p id="adeudo_casa_club"></p>
        </div>
        <div class="mb-2">
          <label for="adeudo_ayuda_mutua" class="block">
            Adeudo Ayuda Mutua:
          </label>
          <p id="adeudo_ayuda_mutua"></p>
        </div>
      </div>
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
        Estado de cuenta
      </button>
      <!-- Resto del formulario -->
      <!-- Pestañas para Casa Club y Ayuda Mutua -->
      <!-- Conceptos de pago -->
      <!-- Botones de acción -->
      <div class="flex justify-center">
        <button
          id="generatePdf"
          class="bg-blue-500 text-white px-4 py-2 rounded"
        >
          Guardar pdf
        </button>
        <button
          type="button"
          onclick="cerrarFormulario()"
          class="ml-2 bg-gray-300 px-4 py-2 rounded"
        >
          Cerrar
        </button>
      </div>
      <select id="opcion" onchange="mostrarFormulario()">
        <option value="casa">Casa club</option>
        <option value="otro">Ayuda mutua</option>
      </select>

      <table id="table" border="1">
        <thead>
          <tr class="grid grid-cols-3">
            <th>Concepto</th>
            <th>Monto</th>
            <th>Seleccionar</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

      <p id="suma"></p>
      <!-- Botones de acción -->
      <div class="flex justify-center">
        <!-- Alineación de botones -->
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
          Guardar
        </button>
        <button
          type="button"
          onclick="cerrarFormulario()"
          class="ml-2 bg-gray-300 px-4 py-2 rounded"
        >
          Cerrar
        </button>
      </div>
    </div>

    <!-- Función para cerrar el formulario -->
    <script>
      function cerrarFormulario() {
        window.location.href = "./menu.html";
      }
    </script>

    <script>
      async function mostrarFormulario() {
        const opcionSeleccionada = document.getElementById("opcion").value;

        const formularios = document.querySelectorAll(".formulario");
        formularios.forEach((formulario) => {
          formulario.classList.add("hidden");
        });

        const formularioMostrar = document.getElementById(
          `form${opcionSeleccionada.charAt(0).toUpperCase() + opcionSeleccionada.slice(1)}`
        );

        const list = document.querySelector("#table tbody");

        const result = await window.electron.getTariffs(
          opcionSeleccionada == "casa" ? 1 : 2
        );
        console.log(result);
        list.innerHTML = "";
        result.forEach((t) => {
          const tr = document.createElement("tr");
          tr.classList.add("grid", "grid-cols-3");

          const td1 = document.createElement("td");
          td1.textContent = t.concept;
          tr.appendChild(td1);

          const td2 = document.createElement("td");
          td2.textContent = t.amount;
          tr.appendChild(td2);

          const td3 = document.createElement("td");
          const checkbox = document.createElement("input");
          checkbox.type = "checkbox";
          checkbox.addEventListener("change", () => {
            actualizarSuma();
          });
          td3.appendChild(checkbox);
          tr.appendChild(td3);

          list.appendChild(tr);
        });

        formularioMostrar.classList.remove("hidden");
      }

      function actualizarSuma() {
        const checkboxes = document.querySelectorAll(
          "#table input[type='checkbox']"
        );
        let suma = 0;
        checkboxes.forEach((checkbox, index) => {
          if (checkbox.checked) {
            suma += parseInt(
              document.querySelectorAll("#table td:nth-child(2)")[index]
                .textContent
            );
          }
        });
        document.getElementById("suma").textContent =
          `Suma de montos seleccionados: ${suma}`;
      }

      function guardar() {
        const checkboxes = document.querySelectorAll(
          "#table input[type='checkbox']:checked"
        );

        let paymentHasTariffsQuery = "";
        checkboxes.forEach((checkbox, index) => {
          const tr = checkbox.closest("tr");
          const tariffId = tr.getAttribute("data-tariff-id");
          if (index > 0) {
            paymentHasTariffsQuery += ", ";
          }
          paymentHasTariffsQuery += `(${paymentId}, ${tariffId})`;
        });
        const paymentQuery = `INSERT INTO payments (payment_id, date_payment, amount, partner_id) VALUES (${paymentId}, NOW(), 'Monto_Total_Aqui', 'Partner_ID_Aqui');`;
        const finalPaymentHasTariffsQuery = `INSERT INTO payment_has_tariffs (payment_id, tariff_id) VALUES ${paymentHasTariffsQuery};`;
        console.log(paymentQuery);
        console.log(finalPaymentHasTariffsQuery);
      }
    </script>

    <!-- Funcion para generar el pdf -->
    <script>
      document.getElementById("generatePdf").addEventListener("click", () => {
        const id = document.getElementById("buscar_socio").value;

        console.log(id);

        window.electron.getStatement(id);
      });
    </script>
  </body>
</html>
