<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->

    <link href="../output.css" rel="stylesheet" />
    <title>Tarifas</title>
  </head>
  <body class="flex flex-col bg-gray-700 m-auto pt-4 min-h-screen">
    <header class="flex justify-center pt-4">
      <nav class="text-white flex gap-4 flex-row">
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./partners.html"
        >
          Socios
        </a>
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./receipts.html"
        >
          Recibos
        </a>
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./deaths.html"
        >
          Defunciones
        </a>
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./tariffs.html"
        >
          Tarifas
        </a>
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./about.html"
        >
          Acerca de
        </a>
        <a
          class="text-lg px-4 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          href="./index.html"
        >
          Salir
        </a>
      </nav>
    </header>

    <main class="flex gap-10 flex-col px-6 pt-10">
      <h1 class="text-center text-2xl font-semibold text-white">Tarifas</h1>
      <div class="flex flex-row">
        <select id="opcion" onchange="mostrarFormulario()">
          <option value="">Selecciona</option>
          <option value="casa">Casa club</option>
          <option value="ayuda">Ayuda mutua</option>
        </select>
      </div>
      <div>
        <div id="formCasa" class="hidden formulario flex flex-col gap-7">
          <span class="text-white text-2xl pb-2">Casa club</span>
        </div>
        <div id="formAyuda" class="formulario hidden flex flex-col gap-7">
          <span class="text-white text-2xl pb-2">Ayuda mutua</span>
        </div>
        <div class="pb-10">
          <label for="concept" class="text-white"> Concepto: </label>
          <input type="text" id="concept" />
          <label for="money" class="text-white"> Monto: </label>
          <input type="number" id="money" />
        </div>
        <button
          type="button"
          onclick="addTarrif()"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >
          Agregar tarifa
        </button>

        <button
          type="button"
          onclick="updateTariff()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2"
        >
          Actualizar tarifa
        </button>
        <table
          class="mt-10 flex justify-center items-center flex-col border border-gray-400 text-white"
        >
          <thead class="w-full">
            <tr class="grid grid-cols-2 bg-rose-600">
              <th class="border border-gray-400 p-4 w-full">Concepto</th>
              <th class="border border-gray-400 p-4 w-full">Cantidad</th>
            </tr>
          </thead>
          <tbody id="table" class="w-full"></tbody>
        </table>
      </div>
    </main>
  </body>
  <script>
    async function mostrarFormulario() {
      const opcionSeleccionada = document.getElementById("opcion").value;

      const formularios = document.querySelectorAll(".formulario");
      formularios.forEach((formulario) => {
        formulario.classList.add("hidden");
      });

      const formularioMostrar = document.getElementById(
        `form${opcionSeleccionada.charAt(0).toUpperCase() + opcionSeleccionada.slice(1)}`
      );

      const list = document.getElementById("table");

      const result = await window.electron.getTariffs(
        opcionSeleccionada == "casa" ? 1 : 2
      );
      console.log(result);
      list.innerHTML = "";
      result.forEach((t) => {
        list.innerHTML += `
            <tr class="grid grid-cols-2">
              <td class="border border-gray-400 p-4 w-full">${t.concept}</td>
              <td class="border border-gray-400 p-4 w-full">${t.amount}</td>
            </tr>
            `;
      });

      formularioMostrar.classList.remove("hidden");
    }

    async function addTarrif() {
      const concept = document.getElementById("concept").value;
      const money = document.getElementById("money").value;
      const option = document.getElementById("opcion").value;

      const result = await window.electron.addTariff({
        concept: concept,
        amount: money,
        tariff_type: option == "casa" ? 1 : 2,
      });

      const list = document.getElementById("table");

      list.innerHTML += `
            <tr class="grid grid-cols-2">
              <td class="border border-gray-400 p-4 w-full">${concept}</td>
              <td class="border border-gray-400 p-4 w-full ">${money}</td>
            </tr>
            `;

      console.log(result);
    }

    async function updateTariff() {
      const concept = document.getElementById("concept").value;
      const money = document.getElementById("money").value;
      const option = document.getElementById("opcion").value;

      const result = await window.electron.updateTariff({
        concept: concept,
        amount: money,
      });

      console.log(result);

      const list = document.getElementById("table");
      const rendernew = await window.electron.getTariffs(
        option == "casa" ? 1 : 2
      );
      console.log(result);

      list.innerHTML = "";
      rendernew.forEach((t) => {
        list.innerHTML += `
            <tr class="grid grid-cols-2">
              <td class="border border-gray-400 p-4 w-full">${t.concept}</td>
              <td class="border border-gray-400 p-4 w-full">${t.amount}</td>
            </tr>
            `;
      });
    }
  </script>
</html>
